.App {
  justify-content: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-banner {
  height: 10vmin;
  text-justify: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  border-bottom: 2px solid #00d5ff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(5vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
